:root {
   --background: #070b0f;
   --text: #e9eef2;
   --primary: #5d97d0;
   --secondary: #2e5983;
   --accent: #a4bfd9;
   --error: #ec5f5f;
   --success: #68e768;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   color: var(--text);
}

a {
   text-decoration: none;
   color: var(--text);

   transition: color .2s ease;
}

body {
   background: var(--background);
   color: var(--text) !important;
   font-family: 'Roboto', sans-serif;  
}

html, body {
   height: 100%;
}

/* =================== */
/* WRAPPERS */

.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;

   padding-top: 4.5rem;

   min-height: 100%;
}

.container {
   margin: 2rem;
   
   width: 80%;
   
   flex: 1;
}

.container-centered {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100%;
}

/* =================== */
/* HEADER */

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;

   width: 100%;

   padding: 1rem 2rem;

   background-color: var(--secondary);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header_home {
   text-transform: uppercase;
   font-size: 1.75rem;
   font-weight: 700;
}

.header_menu {
   justify-self: end;
}

.header_menu > ul{
   display: flex;
   flex-direction: row;
   gap: 1rem;

   list-style: none;

   font-weight: 600;
   font-size: 1rem;
}

.header_menu > ul > li > a{
   background-color: var(--primary);
   padding: .5rem 1rem;
   border-radius: .5rem;

   transition: background-color .2s ease;
}

.header_menu > ul > li > a:hover {
   background-color: var(--accent);
   cursor: pointer;
}

.header_menu > ul > li:first-child {
   margin-right: 2rem;
}

.header_menu > ul > li > a {
   text-transform: uppercase;

   display: flex;
   flex-direction: row;
   align-items: center;
   gap: .5rem;
}

.header_menu .svg-icon {
   width: 18px;
   height: 18px;
}

.header_menu .svg-icon > * {
   stroke: var(--text) !important;
}
/* =================== */
/* SEARCH, FILTER, SORT BAR */

.main_search_container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   padding-bottom: 2rem;

   border-bottom: 2px solid var(--primary)
}

.header form {
   justify-self: center;
   width: 90%;

   display: flex;
   flex-direction: row;
   align-items: center;

   padding: .5rem;

   border: 2px solid var(--primary);
   border-color: var(--primary);
   border-radius: 2rem;

   transition: border-color ease .2s;
}

.header form:hover {
   border-color: var(--accent);
}

.header form > input {
   all: unset;
   width: 100%;
}

.header form:focus-within {
   border-color: var(--accent);
}

.header form > button {
   all: unset;
   width: 20px;
   height: 20px;
   
   cursor: pointer;
}

.main_search_container form {
   height: 100%;

   margin-left: auto;

   display: flex;
   flex-direction: row;
   align-items: center;
   gap: .5rem;

   transition: border-color ease .2s;
}

.main_search_container form > select {
   appearance: none;
   -webkit-appearance: none; 
   -moz-appearance: none; 
   
   all: unset;

   padding: .25rem .5rem;

   border: 2px solid var(--secondary);
   border-color: var(--secondary);
   border-radius: 1rem;

   text-align: center;
   font-size: .75rem;
   font-weight: 600;

   cursor: pointer;

   transition: border-color ease .2s;
}

.main_search_container form > select:hover {
   border-color: var(--accent);
}

.main_search_container form > select:focus {
   border-color: var(--accent);
}

.main_search_container form > select option {
   background-color: var(--background);
}

.main_search_separator {
   width: 2px;
   height: 24px;

   background-color: var(--secondary);
}

/* =================== */
/* FOOTER */

.footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   width: 100%;

   padding: 1rem 2rem;

   background-color: var(--secondary);
}

.footer > p {
   text-transform: uppercase;
}

/* =================== */
/* INFO BOX */

.info-box_container {
   position: fixed;
   bottom: 5%;
   right: 0%;

   width: 350px;
   padding: 1rem 2rem;

   background-color: var(--accent);
   color: var(--text);

   transition: transform 1s ease;
}

.info-box_container::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 10%;
   height: 100%;   
   border-left: 20px solid rgb(250, 88, 88);
}

.info-box_success::after {
   border-left-color: var(--success);
}

.info-box_hidden {
   transform: translateX(100%);
}

.info-box_text {
   font-size: 1.25rem;
   font-weight: 600;
}

/* =================== */
/* MAIN PAGE */

.main_header, .main_paragraph {
   text-align: center;
}

.main_header {
   font-size: 2.5rem;
   font-weight: 700;
   margin: 1rem 0;
}

.main_paragraph {
   font-size: 1.25rem;
   font-weight: 400;
   margin: 1rem 0;
}

.main_books_container {
   margin: 2rem 0;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 1rem;
   row-gap: 2.5rem;
}

.main_books_error_message {
   padding: 2rem;

   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
}

/* =================== */
/* BOOK CARD */

.book_card_container {
   display: flex;
   flex-direction: column;

   background-color: var(--secondary);
   padding: .75rem;
   border-radius: .5rem;
   
   height: 600px;
}

.book_card_container > img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   border-radius: .5rem;
}

.book_card_container_info {
   margin: 1rem 0;

   display: flex;
   flex-direction: column;
   gap: .75rem;

   flex: 1;
}

.book_card_container_price {
   font-size: 1.25rem;
   font-weight: 600;
}

.book_card_container_row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.book_card_container_title {
   font-size: 1.5rem;
   font-weight: 600;
}

.book_card_container_author {
   font-size: 1.15rem;
   font-weight: 500;
}

.book_card_container_addToCart {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   
   padding: .5rem 1rem;

   font-size: 1rem;
   font-weight: 600;

   border-radius: .5rem;
   border: none;
   background-color: var(--primary);

   transition: background-color .2s ease;
}

.book_card_container_addToCart:hover {
   background-color: var(--accent);
   cursor: pointer;
}

.book_card_container_addToCart .svg-icon {
   width: 24px;
   height: 24px;
}

.book_card_container_addToCart .svg-icon > * {
   stroke: var(--text)
}
/* =================== */
/* LOGIN PAGE */

.login_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   min-width: min(300px, 90%);
   
   gap: .5rem;
   padding: 2rem;

   background-color: var(--secondary);
   color: var(--text);
   border-radius: .5rem;
}

.login_container > h2 {
   margin-bottom: 2rem;
   font-size: 2rem;
   font-weight: 700;

   text-transform: uppercase;
}

.login_container > input {
   margin-bottom: 2rem;

   width: 100%;
   
   padding: .5rem;
   border: 2px solid var(--accent);
   border-radius: .5rem;

   background-color: transparent;
}

.login_container > label {
   font-size: 1rem;
   font-weight: 600;
}

.login_container > button {
   margin-top: 2rem;
   padding: .5rem 1.5rem;

   font-size: 1rem;
   font-weight: 600;

   border-radius: .5rem;
   border: none;
   background-color: var(--primary);

   transition: background-color .2s ease;
}

.login_container a:hover {
   color: var(--accent);
}

.login_container > button:hover {
   background-color: var(--accent);
   cursor: pointer;
}

.login_container > a {
   width: 100%;
   
   font-size: .8rem;
   text-align: right;
   opacity: .9;
   
   transition: color .2s ease;
}

.login_container > a:hover {
   color: var(--accent);
   cursor: pointer;
}

/* =================== */
/* CART PAGE */

.cart_header {
   font-size: 2.5rem;
}

.cart_container {
   display: grid;
   grid-template-columns: 4fr 1fr;
   
   margin-top: 2rem;
}

.cart_container_left {
   border-right: 2px solid var(--primary);
   padding-right: 2rem;
}

.cart_container_right {
   padding-left: 2rem;
}

.cart_container_left > ul {
   list-style: none;

   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.cart_item {
   display: grid;
   grid-template-columns: 2fr 4fr 4fr 3fr 2fr 1fr 1fr;
   align-items: center;
   gap: 1rem;

   padding: .5rem;

   font-size: 1.15rem;
}

.cart_item_separator {
   width: 100%;
   height: 2px;

   background-color:var(--primary);
}
.cart_item > img {
   width: 90px;
   height: 90px;
}

.cart_item > div {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.cart_item_quantity {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   justify-content: space-around;
   align-items: center;
}

.cart_item_quantity > button {
   all: unset;

   width: 14px;
   height: 14px;

   padding: .2rem;

   border: 2px solid white;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;

   cursor: pointer;
}

.cart_item > button {
   all: unset;

   align-self: center;

   width: 26px;
   height: 26px;

   padding: .25rem;

   border-radius: 50%;
   border: 2px solid var(--error);

   cursor: pointer;
}

.cart_item > button > svg {
   stroke: var(--error);
}

.cart_container_right_total {
   display: flex;
   flex-direction: column;
   gap: .75rem;

   width: fit-content;
}

.cart_container_right_total > p:first-child {
   font-size: 1.5rem;
   font-weight: 600;
}

.cart_container_right_total_price {
   padding: 1rem 0;
   
   font-size: 1.25rem;
   font-weight: 600;
}


.cart_container_right_total > button {
   padding: .5rem 1.5rem;
   margin-top: 1rem;

   background-color: var(--primary);
   border: none;
   border-radius: 1rem;

   font-size: 1rem;
   font-weight: 600;
   text-transform: uppercase;

   transition: background-color .2s ease;
}

.cart_container_right_total > button:hover {
   background-color: var(--accent);
   cursor: pointer;
}

.cart_container_right_total_grayed {
   opacity: .8;
}

.cart_container_left_info {
   padding-top: 1rem;
   font-size: 1.25rem;
   font-weight: 600;
   text-align: center;
}

/* =================== */
/* CHECKOUT PAGE */

.checkout_header {
   font-size: 2.5rem;
   margin-bottom: 1rem;
}

.checkout_container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 1rem;
}

.checkout_container_left {
   padding-right: 1rem;
   border-right: 2px solid var(--primary);
}

.checkout_container_left_wrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   border: 2px solid var(--secondary);
   border-radius: 1rem;
   background-color: var(--secondary);
}

input::placeholder {
   color: var(--text);
   opacity: .7;
}
.checkout_container_left_shipping, .checkout_container_left_payment, .checkout_container_left_agreement {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 1rem;

   padding: 1rem;
}

.checkout_container_left_agreement {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.checkout_container_left_shipping > label, .checkout_container_left_payment > label {
   font-size: 1rem;
   font-weight: 600;

   padding-bottom: .25rem;
}

.checkout_container_left_shipping > input, .checkout_container_left_payment > input {
   all: unset;

   padding: .5rem;
   border-radius: .5rem;
   border: 2px solid var(--accent);

   margin-bottom: 1rem;
}

.checkout_container_left_shipping > :first-child, .checkout_container_left_payment > :first-child {
   grid-column: span 2;
   font-size: 1.25rem;
   font-weight: 600;
   margin-bottom: 1.5rem;
}

.checkout_container_right {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   background-color: var(--secondary);
   border-radius: .5rem;
   
   padding: .75rem;
   align-self: flex-start;
}

.checkout_container_right > p {
   font-size: 1.25rem;
   font-weight: 600;
}

.checkout_container_right_summary_items > ul {
   list-style: none;
}

.checkout_container_right_summary_items > ul > li {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 1rem;
   align-items: center;

   font-size: .9rem;
   padding: .5rem 0;
}  

.checkout_container_right_summary_items > ul > li > div {
   height: 100%;
   width: 100%;

   display: grid;
   grid-template-areas: "title title"
   "quantity price";
}

.checkout_item_title {
   grid-area: title;
   font-size: 1.1rem;
   font-weight: 600;
}

.checkout_item_price {
   grid-area: price;
   align-self: self-end;
   text-align: right;
}

.checkout_item_quantity {
   grid-area: quantity;
   align-self: self-end;
}

.checkout_container_right_summary_items > ul > li > img {
   width: 70px;
   height: 70px;
}

.checkout_container_right > button {
   padding: .5rem 1.5rem;

   font-size: 1rem;
   font-weight: 600;

   border-radius: .5rem;
   border: none;
   background-color: var(--primary);

   transition: background-color .2s ease;
}

.checkout_container_right > button:hover {
   background-color: var(--accent);
   cursor: pointer;
}

.checkout_container_right_total {
   margin: 1rem 0;
}

.checkout_container_error {
   padding: 2rem;

   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--error);
}

.checkout_container_left_shipping_errorText, .checkout_container_left_payment_errorText,
.checkout_container_left_agreement_errorText {
   display: none;
   font-size: 1rem;
   font-weight: 600;
   color: var(--error);
}

/* =================== */
/* PROFILE PAGE */

.profile_header {
   width: 60%;

   margin: 0 auto;
   margin-bottom: 1rem;

   font-size: 2.5rem;
}

.profile_container {
   width: 60%;

   display: flex;
   flex-direction: column;
   gap: 2rem;

   padding: 1.5rem;
   margin: 0 auto;

   background-color: var(--secondary);
   border-radius: .5rem;
}

.profile_container h2 {
   font-size: 2rem;
   font-weight: 700;

   margin-bottom: 1rem;
}

.profile_info {
   display: flex;
   flex-direction: column;
   gap: .5rem;

   font-size: 1.25rem;
}

.profile_info > p > span {
   font-weight: 600;
}

.profile_update {
   display: flex;
   flex-direction: column;
   gap: .5rem;

   font-size: 1.25rem;
}

.profile_update > form {
   display: flex;
   flex-direction: row;
   gap: .5rem;
   align-items: center;

   margin-bottom: 1rem;
}

.profile_update > label {
   font-weight: 600;
}

.profile_update > form > input {
   all: unset;

   padding: .5rem;

   font-size: 1rem;

   border-radius: .75rem;
   border-color: var(--primary);
   border: 2px solid var(--primary);

   transition: border-color .2s ease;
}

.profile_update > form > input:focus {
   border-color: var(--accent);
}

.profile_update > form > button {
   all: unset;

   padding: .5rem 1rem;
   margin-left: 1rem;

   background-color: var(--primary);
   border-radius: .5rem;

   cursor: pointer;

   transition: background-color .2s ease;
}

.profile_update > form > button:hover {
   background-color: var(--accent);
}

.profile_update_error_message {
   display: none;

   color: var(--error);
   font-weight: 600;
}

.profile_orders > ul {
   list-style-type: none;
   gap: 1rem;

   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;

}

.profile_orders > ul > li {
   display: grid;
   grid-template-columns: 1fr;
   gap: .5rem;

   padding: 1rem;

   border-radius: 1rem;
   border:2px solid var(--primary);
}

.profile_orders > ul > li > p > span {
   font-size: 1rem;
   font-weight: 600;
}

.profile_orders > ul > li > p:last-of-type {
   margin-top: .5rem;
}

.profile_orders_books {
   display: grid;
   grid-template-columns: 1fr;
   gap: .5rem;
}

.profile_orders_books_item {
   display: grid;
   grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
   align-items: center;
}

.profile_orders_books_item > img {
   width: 50px;
   height: 50px;
}